# lets begin

In [1]:
print("hi",end=" ")
print("how are you")

hi how are you

In [2]:
a=10
print("value of a is:",a)

value of a is: 10

In [3]:
print("hi\n"*10)

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [4]:
a,b=0,1
while b<20:
    print(b)
    a,b=b,a+b

1
1
2
3
5
8
13

In [5]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
for i in range(2,20,-1):
    print(i)

In [7]:
for i in range(200,20,-5):
    print(i)

200
195
190
185
180
175
170
165
160
155
150
145
140
135
130
125
120
115
110
105
100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25

In [8]:
for i in range(2,20,5):
    print(i)

2
7
12
17

In [9]:
a=20
while a!=2 and a%2==0:
    print(a)
    a-=2

20
18
16
14
12
10
8
6
4

In [11]:
a=10
while a<=10 and a>0 :
    if a<=5 and a>0:
        print(a)
    a=a-1

5
4
3
2
1

In [14]:
a=10
b=20
s=a+b
print("the valus of a:",a,"\nthe value of b:",b,"\nsum of a+b is :",s)

the valus of a: 10
the value of b: 20
sum of a+b is : 30

In [18]:
def chani(x,y):
    for i in range(x,y):
        
        print("chnaikya")
a=int(input())
b=int(input())
chani(a,b)

6
80
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya
chnaikya

In [19]:
a="chanikya"
r="".join(reversed(a))
print(r)

aykinahc

In [22]:
s=""
for i in "chanikyamc loves ypu":
    s=s.join(i)
    print(s)

c
h
a
n
i
k
y
a
m
c

l
o
v
e
s

y
p
u

In [28]:
def add(a,b):
    return a+b+100
x=add(10,20)
print(x)
y=add(0,0)
print(y)

130
100

In [50]:
x=int(input())
c=0
for i in range(1,x+1):
    if x%i==0:
        c=c+1
if c<=2:
    print("given number %d prime number"%x)
else:
    print("given number %d is Not a prime number"%x)

6
given number 6 is Not a prime number

In [59]:

def prime(x):
    c=0
    for i in range(1,x+2):
        if x%i==0:
            c=c+1
    return c
a=int(input())
r=prime(a)
if r<=2:
    print("given number %d prime number"%a)
else:
    print("given number %d is Not a prime number"%a)

3
given number 3 prime number

In [68]:
def prime(x):
    c = 0
    for i in range(1, x + 1):
        if x % i == 0:
            c = c + 1
    return c

a =int(input())
b=prime(a)
if c==2:
    print("Given number %d is a prime number" % a)
else:
    print(f"Given number {a} is not a prime number" )

7
Given number 7 is not a prime number

In [1]:
a,b=0,1
limit=int(input())
while b<limit:
    print(b)
    a,b=b,a+b

40
1
1
2
3
5
8
13
21
34

In [3]:
a,b=0,1
n=20
for i in range(1,n+1):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946

In [7]:
def mc(n):
    
    a=0
    b=1
    for i in range(1,n+1):
        c=a+b
        print(c,end=" ")
        a=b
        b=c
mc(20)

1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946

In [10]:
def mc(n):
    
    a=0
    b=1
    for i in range(1,n+1):
        c=a+b
        a=b
        b=c
        return c
       
x=mc(20)
print(x)

1

In [11]:
x=int(input())
s=1
for i in range(1,x):
    s=s*i
print(s)

5
24

In [16]:
def fib(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*fib(n-1)
fib(5)

120

In [17]:
d={1:"chaniya",2:"jai",3:"oops",4:"purush",5:"seenu"}
print(d)

{1: 'chaniya', 2: 'jai', 3: 'oops', 4: 'purush', 5: 'seenu'}

In [18]:
for i in d:
    print(d[i])

chaniya
jai
oops
purush
seenu

In [19]:
for x,y in d.items():
    print(x,y)

1 chaniya
2 jai
3 oops
4 purush
5 seenu

In [35]:
x=int(input())
for i in range(x):
    for j in range(i+1):
        print("*",end=" ")
    print()

5
*
* *
* * *
* * * *
* * * * *

In [39]:
x=int(input())
for i in range(x):
    for j in range(x-i):
        print("*",end=" ")
    print()

5
* * * * *
* * * *
* * *
* *
*

In [41]:
x=int(input())
for i in range(x):
    for j in range(x-i):
        print("",end=" ")
    for j in range(i+1):
        print("*",end=" ")
        
    print()

5
          *
        * *
      * * *
    * * * *
  * * * * *

In [42]:
x=int(input())
for i in range(x):
    for j in range(x-i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
        
    print()

5
* * * * *
* * * *
* * *
* *
*

In [44]:
x=int(input())
for i in range(x):
    for j in range(x-i):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
        
    print()

5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [2]:
s="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
res=""
for i in range(len(s)):
    if i%2!=0:
        res+=s[i].lower()
    else:
        res+=s[i]
print(res)

AbCdEfGhIjKlMnOpQrStUvWxYz

In [4]:
def pow(n,x):
    if(x==0):
        return 1
    else:
        return (n*pow(n,x-1))
pow(2,4)

16

In [5]:
def sum1(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return n+sum1(n-1)
sum1(5)

15

In [18]:
def chani(a,b,c):
    print(a+b*c)
def chani(a,b,c,d):
    print(a+b*c+d)
chani(1,2,3)

TypeError: chani() missing 1 required positional argument: 'd'

In [38]:
from multipledispatch import dispatch

# passing one parameter


@dispatch(int, int)
def product(first, second):
	result = first*second
	print(result)

# passing two parameters


@dispatch(int, int, int)
def product(first, second, third):
	result = first * second * third
	print(result)

# you can also pass data type of any value as per requirement


@dispatch(float, float, float)
def product(first, second, third):
	result = first * second * third
	print(result)


# calling product method with 2 arguments
product(2, 3) # this will give output of 6

# calling product method with 3 arguments but all int
product(2, 3, 2) # this will give output of 12

# calling product method with 3 arguments but all float
product(2.2, 3.4, 2.3) # this will give output of 17.985999999999997

6
12
17.204

In [21]:
l=[1,4,5,2,7,8,3]
n=len(l)
for i in range(0,n):
    for j in range(0,n-1):
        if l[j]>l[j+1]:
            l[j],l[j+1]=l[j+1],l[j]
print(l)

[1, 2, 3, 4, 5, 7, 8]

In [36]:
l=[1,4,5,2,7,8,3]
n=len(l)
s=True
while (s):
    for i in range(0,n):
        s=False
        for j in range(0,n-1):
            if l[j]>l[j+1]:
                l[j],l[j+1]=l[j+1],l[j]
                s=True

print(l)

[1, 2, 3, 4, 5, 7, 8]

In [41]:

from multipledispatch import dispatch as dp

In [46]:
l=[29,3,4,34,453,43,2,32,32,32]
l.sort()
print(l)

[2, 3, 4, 29, 32, 32, 32, 34, 43, 453]

In [58]:
l=[10,20,30,33]
k=30
for i in l:
    d=k-i
    if (d in l):
        p                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         rint(i,d)

10 20
20 10

In [75]:
class mc:
    def __init__(a,name,age):
        a.name=name
        a.age=age
class chani(mc):
    name=name+" hello"
pl=mc("chanaikya",20)

l=chani()
print(l.name)
print(l.age)

NameError: name 'name' is not defined

In [76]:
class car:  
    def __init__(self,modelname, year):  
        self.modelname = modelname  
        self.year = year  
    def display(self):  
        print(self.modelname,self.year)  
  
c1 = car("Toyota", 2016)  
c1.display()

Toyota 2016

In [78]:
class dj():
    name=""
    age=0
obj=dj()
obj.name="chanikya"
obj.age=20
print(obj.name)
print(obj.age)

chanikya
20

In [79]:
ob=dj()
obj.name="chani"
obj.age=99
print(obj.name)
print(obj.age)

chani
99

In [102]:
class demo:
    def name(self):
        print("my name is chanikya")
    def age(self):
        print("my age is 22")
class demo1(demo):
    def educ(self):
        print("iam studying btech")
    def __init__(self,sall):
        self.sall=sall
    def sal(self):
        print("my salary is %d"%self.sall)
obj=demo1(76767)
obj.name()
obj.age()
obj.educ()
obj.sal()

my name is chanikya
my age is 22
iam studying btech
my salary is 76767

In [92]:
class demo:
    def name(self):
        print("My name is chanikya")
    
    def age(self):
        print("My age is 22")

class demo1(demo):
    def educ(self):
        print("I am studying btech")
    
    def __init__(self, sall):
        self.sall = sall
        print("My salary is %d" % self.sall)

obj = demo1(76767)
obj.name()
obj.age()
obj.educ()
print(obj.sall)

My salary is 76767
My name is chanikya
My age is 22
I am studying btech
76767